*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.itemCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 2px solid black;
}

.itemCountBotones{
    display: flex;
   
  
}

.botones{
    padding: 0px 10px;
    font-weight: bold;
    background-color: #0c3d60;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.countBotones{

    width: 5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}