*{
    margin: 0px;
    padding: 0px;
}

.topHeader{
    text-align: center;
    color: white;
    background-color: #0c3d60;
}

.navBar{
    display: flex;
    align-items: center;
   
}
.navBar li{
    padding: 0px 20px;
}

.menuLogo{
    display: flex;
    font-size: 20px;
    font-weight: bold;
}



.menuLogo .tienda{
    display: flex;
    align-items: center ;
    color: black;
}

.menuLogo .bici{
    display: flex;
    align-items: center;
    color: rgb(5, 142, 206);
}

.menuLogo .icon{
    color: rgb(5, 142, 206);
    font-size: 40px;
}

.topMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.user {
    display: flex;
    align-items: center;
}

